/* Global Mixins Stylesheet */
/* |_ Global Reset Style */
.YOUR_PREFIX-main div, .YOUR_PREFIX-main span, .YOUR_PREFIX-main applet, .YOUR_PREFIX-main object, .YOUR_PREFIX-main iframe, .YOUR_PREFIX-main h1, .YOUR_PREFIX-main h2, .YOUR_PREFIX-main h3, .YOUR_PREFIX-main h4, .YOUR_PREFIX-main h5, .YOUR_PREFIX-main h6, .YOUR_PREFIX-main p, .YOUR_PREFIX-main blockquote, .YOUR_PREFIX-main pre, .YOUR_PREFIX-main a, .YOUR_PREFIX-main abbr, .YOUR_PREFIX-main acronym, .YOUR_PREFIX-main address, .YOUR_PREFIX-main big, .YOUR_PREFIX-main cite, .YOUR_PREFIX-main code, .YOUR_PREFIX-main del, .YOUR_PREFIX-main dfn, .YOUR_PREFIX-main em, .YOUR_PREFIX-main img, .YOUR_PREFIX-main ins, .YOUR_PREFIX-main kbd, .YOUR_PREFIX-main q, .YOUR_PREFIX-main s, .YOUR_PREFIX-main samp, .YOUR_PREFIX-main small, .YOUR_PREFIX-main strike, .YOUR_PREFIX-main strong, .YOUR_PREFIX-main sub, .YOUR_PREFIX-main sup, .YOUR_PREFIX-main tt, .YOUR_PREFIX-main var, .YOUR_PREFIX-main b, .YOUR_PREFIX-main u, .YOUR_PREFIX-main i, .YOUR_PREFIX-main center, .YOUR_PREFIX-main dl, .YOUR_PREFIX-main dt, .YOUR_PREFIX-main dd, .YOUR_PREFIX-main ol, .YOUR_PREFIX-main ul, .YOUR_PREFIX-main li, .YOUR_PREFIX-main fieldset, .YOUR_PREFIX-main form, .YOUR_PREFIX-main label, .YOUR_PREFIX-main legend, .YOUR_PREFIX-main table, .YOUR_PREFIX-main caption, .YOUR_PREFIX-main tbody, .YOUR_PREFIX-main tfoot, .YOUR_PREFIX-main thead, .YOUR_PREFIX-main tr, .YOUR_PREFIX-main th, .YOUR_PREFIX-main td, .YOUR_PREFIX-main article, .YOUR_PREFIX-main aside, .YOUR_PREFIX-main canvas, .YOUR_PREFIX-main details, .YOUR_PREFIX-main embed, .YOUR_PREFIX-main figure, .YOUR_PREFIX-main figcaption, .YOUR_PREFIX-main footer, .YOUR_PREFIX-main header, .YOUR_PREFIX-main hgroup, .YOUR_PREFIX-main menu, .YOUR_PREFIX-main nav, .YOUR_PREFIX-main output, .YOUR_PREFIX-main ruby, .YOUR_PREFIX-main section, .YOUR_PREFIX-main summary, .YOUR_PREFIX-main time, .YOUR_PREFIX-main mark, .YOUR_PREFIX-main audio, .YOUR_PREFIX-main video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.YOUR_PREFIX-main article, .YOUR_PREFIX-main aside, .YOUR_PREFIX-main details, .YOUR_PREFIX-main figcaption, .YOUR_PREFIX-main figure, .YOUR_PREFIX-main footer, .YOUR_PREFIX-main header, .YOUR_PREFIX-main hgroup, .YOUR_PREFIX-main menu, .YOUR_PREFIX-main nav, .YOUR_PREFIX-main section {
  display: block;
}
.YOUR_PREFIX-main ol, .YOUR_PREFIX-main ul {
  list-style: none;
}
.YOUR_PREFIX-main blockquote, .YOUR_PREFIX-main q {
  quotes: none;
}
.YOUR_PREFIX-main blockquote:before, .YOUR_PREFIX-main blockquote:after, .YOUR_PREFIX-main q:before, .YOUR_PREFIX-main q:after {
  content: "";
  content: none;
}
.YOUR_PREFIX-main table {
  border-collapse: collapse;
  border-spacing: 0;
}

#YOUR_PREFIX .YOUR_PREFIX-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
}
#YOUR_PREFIX .YOUR_PREFIX-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
#YOUR_PREFIX .YOUR_PREFIX-row.YOUR_PREFIX-reverse {
  flex-direction: row-reverse;
}
#YOUR_PREFIX .YOUR_PREFIX-col.YOUR_PREFIX-reverse {
  flex-direction: column-reverse;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs, #YOUR_PREFIX .YOUR_PREFIX-col-xs-1, #YOUR_PREFIX .YOUR_PREFIX-col-xs-2, #YOUR_PREFIX .YOUR_PREFIX-col-xs-3, #YOUR_PREFIX .YOUR_PREFIX-col-xs-4, #YOUR_PREFIX .YOUR_PREFIX-col-xs-5, #YOUR_PREFIX .YOUR_PREFIX-col-xs-6, #YOUR_PREFIX .YOUR_PREFIX-col-xs-7, #YOUR_PREFIX .YOUR_PREFIX-col-xs-8, #YOUR_PREFIX .YOUR_PREFIX-col-xs-9, #YOUR_PREFIX .YOUR_PREFIX-col-xs-10, #YOUR_PREFIX .YOUR_PREFIX-col-xs-11, #YOUR_PREFIX .YOUR_PREFIX-col-xs-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0;
  padding-left: 0;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-1 {
  margin-left: 8.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-2 {
  margin-left: 16.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-3 {
  margin-left: 25%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-4 {
  margin-left: 33.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-5 {
  margin-left: 41.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-6 {
  margin-left: 50%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-7 {
  margin-left: 58.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-8 {
  margin-left: 66.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-9 {
  margin-left: 75%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-10 {
  margin-left: 83.333%;
}
#YOUR_PREFIX .YOUR_PREFIX-col-xs-offset-11 {
  margin-left: 91.667%;
}
#YOUR_PREFIX .YOUR_PREFIX-start-xs {
  justify-content: flex-start;
  text-align: start;
}
#YOUR_PREFIX .YOUR_PREFIX-center-xs {
  justify-content: center;
  text-align: center;
}
#YOUR_PREFIX .YOUR_PREFIX-end-xs {
  justify-content: flex-end;
  text-align: end;
}
#YOUR_PREFIX .YOUR_PREFIX-top-xs {
  align-items: flex-start;
}
#YOUR_PREFIX .YOUR_PREFIX-middle-xs {
  align-items: center;
}
#YOUR_PREFIX .YOUR_PREFIX-bottom-xs {
  align-items: flex-end;
}
#YOUR_PREFIX .YOUR_PREFIX-around-xs {
  justify-content: space-around;
}
#YOUR_PREFIX .YOUR_PREFIX-between-xs {
  justify-content: space-between;
}
#YOUR_PREFIX .YOUR_PREFIX-first-xs {
  order: -1;
}
#YOUR_PREFIX .YOUR_PREFIX-last-xs {
  order: 1;
}
@media only screen and (min-width: 48em) {
  #YOUR_PREFIX .YOUR_PREFIX-col-sm, #YOUR_PREFIX .YOUR_PREFIX-col-sm-1, #YOUR_PREFIX .YOUR_PREFIX-col-sm-2, #YOUR_PREFIX .YOUR_PREFIX-col-sm-3, #YOUR_PREFIX .YOUR_PREFIX-col-sm-4, #YOUR_PREFIX .YOUR_PREFIX-col-sm-5, #YOUR_PREFIX .YOUR_PREFIX-col-sm-6, #YOUR_PREFIX .YOUR_PREFIX-col-sm-7, #YOUR_PREFIX .YOUR_PREFIX-col-sm-8, #YOUR_PREFIX .YOUR_PREFIX-col-sm-9, #YOUR_PREFIX .YOUR_PREFIX-col-sm-10, #YOUR_PREFIX .YOUR_PREFIX-col-sm-11, #YOUR_PREFIX .YOUR_PREFIX-col-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-1 {
    margin-left: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-2 {
    margin-left: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-3 {
    margin-left: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-4 {
    margin-left: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-5 {
    margin-left: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-6 {
    margin-left: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-7 {
    margin-left: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-8 {
    margin-left: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-9 {
    margin-left: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-10 {
    margin-left: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-sm-offset-11 {
    margin-left: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-start-sm {
    justify-content: flex-start;
    text-align: start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-center-sm {
    justify-content: center;
    text-align: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-end-sm {
    justify-content: flex-end;
    text-align: end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-top-sm {
    align-items: flex-start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-middle-sm {
    align-items: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-bottom-sm {
    align-items: flex-end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-around-sm {
    justify-content: space-around;
  }
  #YOUR_PREFIX .YOUR_PREFIX-between-sm {
    justify-content: space-between;
  }
  #YOUR_PREFIX .YOUR_PREFIX-first-sm {
    order: -1;
  }
  #YOUR_PREFIX .YOUR_PREFIX-last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  #YOUR_PREFIX .YOUR_PREFIX-col-md, #YOUR_PREFIX .YOUR_PREFIX-col-md-1, #YOUR_PREFIX .YOUR_PREFIX-col-md-2, #YOUR_PREFIX .YOUR_PREFIX-col-md-3, #YOUR_PREFIX .YOUR_PREFIX-col-md-4, #YOUR_PREFIX .YOUR_PREFIX-col-md-5, #YOUR_PREFIX .YOUR_PREFIX-col-md-6, #YOUR_PREFIX .YOUR_PREFIX-col-md-7, #YOUR_PREFIX .YOUR_PREFIX-col-md-8, #YOUR_PREFIX .YOUR_PREFIX-col-md-9, #YOUR_PREFIX .YOUR_PREFIX-col-md-10, #YOUR_PREFIX .YOUR_PREFIX-col-md-11, #YOUR_PREFIX .YOUR_PREFIX-col-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-1 {
    margin-left: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-2 {
    margin-left: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-3 {
    margin-left: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-4 {
    margin-left: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-5 {
    margin-left: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-6 {
    margin-left: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-7 {
    margin-left: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-8 {
    margin-left: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-9 {
    margin-left: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-10 {
    margin-left: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-md-offset-11 {
    margin-left: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-start-md {
    justify-content: flex-start;
    text-align: start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-center-md {
    justify-content: center;
    text-align: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-end-md {
    justify-content: flex-end;
    text-align: end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-top-md {
    align-items: flex-start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-middle-md {
    align-items: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-bottom-md {
    align-items: flex-end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-around-md {
    justify-content: space-around;
  }
  #YOUR_PREFIX .YOUR_PREFIX-between-md {
    justify-content: space-between;
  }
  #YOUR_PREFIX .YOUR_PREFIX-first-md {
    order: -1;
  }
  #YOUR_PREFIX .YOUR_PREFIX-last-md {
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  #YOUR_PREFIX .YOUR_PREFIX-col-lg, #YOUR_PREFIX .YOUR_PREFIX-col-lg-1, #YOUR_PREFIX .YOUR_PREFIX-col-lg-2, #YOUR_PREFIX .YOUR_PREFIX-col-lg-3, #YOUR_PREFIX .YOUR_PREFIX-col-lg-4, #YOUR_PREFIX .YOUR_PREFIX-col-lg-5, #YOUR_PREFIX .YOUR_PREFIX-col-lg-6, #YOUR_PREFIX .YOUR_PREFIX-col-lg-7, #YOUR_PREFIX .YOUR_PREFIX-col-lg-8, #YOUR_PREFIX .YOUR_PREFIX-col-lg-9, #YOUR_PREFIX .YOUR_PREFIX-col-lg-10, #YOUR_PREFIX .YOUR_PREFIX-col-lg-11, #YOUR_PREFIX .YOUR_PREFIX-col-lg-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-1 {
    margin-left: 8.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-2 {
    margin-left: 16.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-3 {
    margin-left: 25%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-4 {
    margin-left: 33.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-5 {
    margin-left: 41.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-6 {
    margin-left: 50%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-7 {
    margin-left: 58.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-8 {
    margin-left: 66.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-9 {
    margin-left: 75%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-10 {
    margin-left: 83.333%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-col-lg-offset-11 {
    margin-left: 91.667%;
  }
  #YOUR_PREFIX .YOUR_PREFIX-start-lg {
    justify-content: flex-start;
    text-align: start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-center-lg {
    justify-content: center;
    text-align: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-end-lg {
    justify-content: flex-end;
    text-align: end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-top-lg {
    align-items: flex-start;
  }
  #YOUR_PREFIX .YOUR_PREFIX-middle-lg {
    align-items: center;
  }
  #YOUR_PREFIX .YOUR_PREFIX-bottom-lg {
    align-items: flex-end;
  }
  #YOUR_PREFIX .YOUR_PREFIX-around-lg {
    justify-content: space-around;
  }
  #YOUR_PREFIX .YOUR_PREFIX-between-lg {
    justify-content: space-between;
  }
  #YOUR_PREFIX .YOUR_PREFIX-first-lg {
    order: -1;
  }
  #YOUR_PREFIX .YOUR_PREFIX-last-lg {
    order: 1;
  }
}

@font-face {
  font-family: "ClarinsRegular";
  src: url("../fonts/ClarinsRegular.woff") format("woff"), url("../fonts/ClarinsRegular.woff2") format("woff2");
}
@font-face {
  font-family: "MyriadPro Light";
  src: url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham SSm book A";
  src: url("../fonts/Gotham-Book-webfont.woff") format("woff"), url("../fonts/Gotham-Book-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham SSm medium A";
  src: url("../fonts/Gotham-Medium-webfont.woff") format("woff"), url("../fonts/Gotham-Medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham SSm light A";
  src: url("../fonts/Gotham-Light-webfont.woff") format("woff"), url("../fonts/Gotham-Light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Regular";
  src: url("../fonts/Sofia-Pro-Regular-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-Regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Light";
  src: url("../fonts/Sofia-Pro-Light-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-Light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url("../fonts/Sofia-Pro-Medium-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-Medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../fonts/Sofia-Pro-Bold-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-Bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Italic";
  src: url("../fonts/Sofia-Pro-Italic-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-Italic-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Sofia Pro Semi Bold";
  src: url("../fonts/Sofia-Pro-SemiBold-webfont.woff") format("woff"), url("../fonts/Sofia-Pro-SemiBold-webfont.woff2") format("woff2");
}
#YOUR_PREFIX .YOUR_PREFIX-F-Arial {
  font-family: Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-Times {
  font-family: Times, "Times New Roman", serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-MyriadPro {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-Montserrat {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-Barlow {
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-ClarinsRegular {
  font-family: "ClarinsRegular", "Clarins", "Times New Roman", Times, Helvetica, serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-GothamSSmMedium {
  font-family: "Gotham SSm medium A", "Gotham SSm medium B", Helvetica, Arial, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-GothamSSmBook {
  font-family: "Gotham SSm book A", "Gotham SSm book B", Helvetica, Arial, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-GothamLight {
  font-family: "Gotham Light", "Gotham SSm light A", "Gotham SSm light B", "Gotham SSm book A", "Gotham SSm book B", Helvetica, Arial, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-GothamSSmLight {
  font-family: "Gotham SSm light A", "Gotham SSm light B", "Gotham SSm book A", "Gotham SSm book B", Helvetica, Arial, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProRegular {
  font-family: "Sofia Pro Regular", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProBold {
  font-family: "Sofia Pro Bold", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProLight {
  font-family: "Sofia Pro Light", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProMedium {
  font-family: "Sofia Pro Medium", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProItalic {
  font-family: "Sofia Pro Italic", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-F-SofiaProSemiBold {
  font-family: "Sofia Pro Semi Bold", Arial, Helvetica, sans-serif;
}
#YOUR_PREFIX .YOUR_PREFIX-flex {
  display: flex;
}
#YOUR_PREFIX .YOUR_PREFIX-relative {
  position: relative;
}
#YOUR_PREFIX .YOUR_PREFIX-hidden {
  display: none;
}
#YOUR_PREFIX .YOUR_PREFIX-hidden--mobile {
  display: none;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--mobile {
    display: block;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-hidden--tablet {
  display: block;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--tablet {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--tablet {
    display: block;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-hidden--tablet-medium {
  display: block;
}
@media only screen and (min-width: 1024px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--tablet-medium {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--tablet-medium {
    display: block;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-hidden--desktop {
  display: block;
}
@media only screen and (min-width: 1280px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--desktop {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--desktop {
    display: block;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-hidden--desktop-medium {
  display: block;
}
@media only screen and (min-width: 1440px) {
  #YOUR_PREFIX .YOUR_PREFIX-hidden--desktop-medium {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-block {
  display: block;
}
#YOUR_PREFIX .YOUR_PREFIX-block--mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--mobile {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-block--tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--tablet {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--tablet {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-block--tablet-medium {
  display: none;
}
@media only screen and (min-width: 1024px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--tablet-medium {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--tablet-medium {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-block--desktop {
  display: none;
}
@media only screen and (min-width: 1280px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--desktop {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--desktop {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-block--desktop-medium {
  display: none;
}
@media only screen and (min-width: 1440px) {
  #YOUR_PREFIX .YOUR_PREFIX-block--desktop-medium {
    display: none;
  }
}
#YOUR_PREFIX .YOUR_PREFIX-wrapper {
  position: relative;
  margin: 0 auto;
  font: inherit;
  width: 100%;
  min-width: 290px;
  height: 100%;
  max-width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX .YOUR_PREFIX-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main {
  position: relative;
  font: 14px/22px Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}
#YOUR_PREFIX.YOUR_PREFIX-main * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#YOUR_PREFIX.YOUR_PREFIX-main picture,
#YOUR_PREFIX.YOUR_PREFIX-main img {
  width: 100%;
  margin: 0 auto;
  display: inherit;
}
#YOUR_PREFIX.YOUR_PREFIX-main strong {
  font-weight: bold;
}
#YOUR_PREFIX.YOUR_PREFIX-main small {
  font-size: 80%;
}
#YOUR_PREFIX.YOUR_PREFIX-main h1 {
  font-size: 50px;
  line-height: 50px;
}
#YOUR_PREFIX.YOUR_PREFIX-main h2 {
  font-size: 35px;
  line-height: 40px;
}
#YOUR_PREFIX.YOUR_PREFIX-main h3 {
  font-size: 35px;
  line-height: 35px;
}
#YOUR_PREFIX.YOUR_PREFIX-main h4 {
  font-size: 25px;
  line-height: 25px;
}
#YOUR_PREFIX.YOUR_PREFIX-main h5 {
  font-size: 20px;
  line-height: 20px;
}
#YOUR_PREFIX.YOUR_PREFIX-main h6 {
  font-size: 16px;
  line-height: 16px;
}
#YOUR_PREFIX.YOUR_PREFIX-main a {
  font-size: 16px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button {
  color: #333333;
  margin: 0 auto;
  padding: 10px 15%;
  transition: border 100ms linear;
  border: 1px solid #cfcac9;
  border-radius: 5px;
  max-width: 100%;
  min-height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  background-color: white;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button {
    min-height: 44px;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button:hover, #YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button:focus, #YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button:active {
  color: #333333;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--primary[data-brand=clarins] {
  color: rgb(255, 255, 255);
  background-color: #b40024;
  border: 2px solid transparent;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--primary[data-brand=clarins]:hover {
  color: rgb(255, 255, 255);
  background-color: #8c0b26;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--primary[data-brand=clarins]:focus {
  color: rgb(255, 255, 255);
  background-color: #b40024;
  border: 2px solid #63021a;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--primary[data-brand=clarins]:active {
  color: rgb(255, 255, 255);
  background-color: #b40024;
  border: 2px solid #63021a;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--secondary[data-brand=clarins] {
  color: #333333;
  background-color: white;
  border: 1px solid #cfcac9;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--secondary[data-brand=clarins]:hover {
  color: #8c0b26;
  border: 1px solid #787474;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--secondary[data-brand=clarins]:focus {
  color: #333333;
  border: 2px solid #63021a;
  border-radius: 7px;
}
#YOUR_PREFIX.YOUR_PREFIX-main a.YOUR_PREFIX-button--secondary[data-brand=clarins]:active {
  color: #333333;
  border: 2px solid #63021a;
}
#YOUR_PREFIX.YOUR_PREFIX-main p {
  padding: 10px 0;
}
#YOUR_PREFIX.YOUR_PREFIX-main div[data-name] {
  position: relative;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs {
  position: relative;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs {
    width: min(50%, 1024px);
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ label {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  width: 56px;
  height: 34px;
  overflow: hidden;
  margin: 0 auto;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ label:before, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ label:after {
  position: absolute;
  display: block;
  top: 55%;
  transform: translateY(-50%);
  width: initial;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ label span {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 26px;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 250ms linear;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ label span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 2px;
  height: 26px;
  width: 26px;
  margin-top: -13px;
  border-radius: 50%;
  transition: all 250ms linear;
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.5);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ .YOUR_PREFIX-panels {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 3%;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ .YOUR_PREFIX-panels > div {
  position: relative;
  display: none;
  min-height: 200px;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ .YOUR_PREFIX-panels > div::before {
  content: attr(data-id);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 128, 0, 0.25);
  font-size: 70px;
  line-height: 1px;
  transform: translate(-50%, -50%);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ .YOUR_PREFIX-panels > div[data-id]:first-child {
  display: block;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox] ~ .YOUR_PREFIX-panels > div[data-id]:last-child {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox]:checked ~ label {
  color: black;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox]:checked ~ label span::before {
  transform: translateX(100%);
  background-color: black;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox]:checked ~ .YOUR_PREFIX-panels > div[data-id]:first-child {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=checkbox]:checked ~ .YOUR_PREFIX-panels > div[data-id]:last-child {
  display: block;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100px;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-labels label {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-labels label span {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 250ms linear;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-labels label span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 50%;
  transition: all 250ms linear;
  background-color: rgba(0, 0, 0, 0.5);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-panels {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 3%;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-panels > div {
  position: relative;
  display: none;
  min-height: 200px;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio] ~ .YOUR_PREFIX-panels > div::before {
  content: attr(data-id);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(255, 0, 0, 0.25);
  font-size: 70px;
  line-height: 1px;
  transform: translate(-50%, -50%);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab1]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab1] {
  color: black;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab1]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab1] span {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab1]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab1] span::before {
  background-color: rgba(255, 0, 0, 0.5);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab1]:checked ~ .YOUR_PREFIX-panels > div[data-id="1"] {
  display: block;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab2]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab2] {
  color: black;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab2]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab2] span {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab2]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab2] span::before {
  background-color: rgba(255, 0, 0, 0.5);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab2]:checked ~ .YOUR_PREFIX-panels > div[data-id="2"] {
  display: block;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab3]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab3] {
  color: black;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab3]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab3] span {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab3]:checked ~ .YOUR_PREFIX-labels label[for=YOUR_PREFIX-T1-tab3] span::before {
  background-color: rgba(255, 0, 0, 0.5);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-tabs input[type=radio][id=YOUR_PREFIX-T1-tab3]:checked ~ .YOUR_PREFIX-panels > div[data-id="3"] {
  display: block;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides {
  overflow-x: scroll;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides {
    overflow-x: initial;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul {
  display: inline-flex;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul {
    display: flex;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  min-width: calc(100vw - 2.5%);
  max-width: 100%;
  transition: all 350ms linear;
}
@media only screen and (min-width: 480px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li {
    min-width: calc(100vw - 4%);
  }
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li {
    min-width: initial;
    max-width: initial;
    width: calc(100% / (4));
    margin-right: 20px;
    margin-bottom: 0;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div:last-child, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li:last-child, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div:last-child, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li:last-child {
  margin-right: 0;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div:hover, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li:hover, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div:hover, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.075);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div h5, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li h5, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div h5, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li h5 {
  text-transform: uppercase;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div .YOUR_PREFIX-thumbnaill, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li .YOUR_PREFIX-thumbnaill, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div .YOUR_PREFIX-thumbnaill, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li .YOUR_PREFIX-thumbnaill {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div .YOUR_PREFIX-thumbnaill:before, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li .YOUR_PREFIX-thumbnaill:before, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div .YOUR_PREFIX-thumbnaill:before, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li .YOUR_PREFIX-thumbnaill:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div .YOUR_PREFIX-thumbnaill > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li .YOUR_PREFIX-thumbnaill > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div .YOUR_PREFIX-thumbnaill > div, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li .YOUR_PREFIX-thumbnaill > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > div .YOUR_PREFIX-thumbnaill img, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > div > li .YOUR_PREFIX-thumbnaill img, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > div .YOUR_PREFIX-thumbnaill img, #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slides > ul > li .YOUR_PREFIX-thumbnaill img {
  height: 100%;
  width: auto;
  position: relative;
  display: inline-block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content {
  position: relative;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content .YOUR_PREFIX-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: 250ms cubic-bezier(0.68, -0.57, 0.33, 1.67) opacity;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content .YOUR_PREFIX-slide > div {
  height: 100%;
  display: flex;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content .YOUR_PREFIX-slide > div img {
  width: 100%;
  height: auto;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-content .YOUR_PREFIX-slide > div img {
    width: auto;
    height: 100%;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-dots {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  z-index: 3;
  text-align: center;
  display: flex;
  justify-content: center;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-dots label {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-dots label:hover {
  background: rgba(255, 255, 255, 0.8);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-arrow label {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  cursor: pointer;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-arrow label[data-type=next] {
  border-left: none;
  right: 1rem;
  border-bottom: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-arrow label[data-type=next]:first-of-type {
  z-index: 3;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-arrow label[data-type=prev] {
  border-top: none;
  left: 1rem;
  border-right: none;
  z-index: 3;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper input[type=radio] {
  position: absolute;
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper input[type=radio]:first-of-type:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev] {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper input[type=radio]:last-of-type:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next] {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-content [data-slide="1"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S1-slide1] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide1] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide1]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide1], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide1] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-content [data-slide="2"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S1-slide2] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide2] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide2]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide2], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide2] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-content [data-slide="3"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S1-slide3] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide3] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide3]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide3], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide3] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-content [data-slide="4"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S1-slide4] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide4] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide4]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide4], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide4:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide4] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-content [data-slide="5"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S1-slide5] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide5] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S1-slide5]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide5], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="1"] #YOUR_PREFIX-S1-slide5:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S1-slide5] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-content [data-slide="1"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S2-slide1] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide1] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide1]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide1], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide1:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide1] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-content [data-slide="2"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S2-slide2] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide2] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide2]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide2], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide2:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide2] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-content [data-slide="3"] {
  opacity: 1;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-dots label[for=YOUR_PREFIX-S2-slide3] {
  background: rgb(0, 0, 0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide3] + label {
  z-index: 4;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=next][for=YOUR_PREFIX-S2-slide3]:last-of-type {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide3], #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-slider-wrapper[data-carousel="2"] #YOUR_PREFIX-S2-slide3:checked ~ .YOUR_PREFIX-slider-arrow label[data-type=prev][for=YOUR_PREFIX-S2-slide3] ~ label[data-type=prev] {
  z-index: 2;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordions {
  max-width: 90%;
}
@media only screen and (min-width: 768px) {
  #YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordions {
    max-width: 50%;
  }
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion {
  font-family: inherit;
  transform: translateZ(0);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > input {
  position: absolute;
  display: none;
  height: 0;
  transition: all 250ms linear;
  opacity: 0;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > input:checked ~ label:after {
  content: "-";
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > input:checked ~ section {
  height: initial;
  min-height: auto;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > label {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  height: 58px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
  float: none;
  color: inherit;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > label:before {
  display: none;
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > label:after {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  content: "+";
  transform: translateY(-50%);
}
#YOUR_PREFIX.YOUR_PREFIX-main .YOUR_PREFIX-accordion > section {
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  height: 0;
  text-align: left;
  padding: 0 10px;
  transition: 0.3s all;
}
#YOUR_PREFIX.YOUR_PREFIX-main *[data-name=BLOCK1] .YOUR_PREFIX-boxes {
  background-color: rgba(255, 0, 0, 0.5);
  width: 80%;
  height: 20%;
  position: absolute;
  z-index: 2;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  display: none;
}

footer.footer-main {
  margin-top: 0 !important;
}

.primary-content {
  padding-bottom: 0;
}

#main:not(.main-homepage) {
  padding-top: 0;
}

#wrapper {
  max-width: 100%;
}

#wrapper.pt_category-wide .breadcrumb-container,
#wrapper.pt_category-wide .site-width-slot {
  max-width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */